<!-- /.container -->
<div class="container">
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h5><strong>Site Haritası</strong> </h5><hr />
                <p>
                    <a href="/Home/About">Hakkımızda</a><br />
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <h5><strong>Test Platform</strong></h5><hr />
                <p>Tüm Hakları Saklıdır &copy; Test Platform @DateTime.Now.Year</p>
                <p><a href="/Home/AdminLogin/">Yönetici Girişi</a></p>
            </div>
            <div class="col-lg-4 text-center">
                <h5><strong>E-Bülten Üyeliği</strong> </h5><hr />
                <div class="col-md-12">
                    <p>E-Posta adresiniz ile güncel haber ve duyurulara abone olabilirsiniz.</p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="E-Posta Adresiniz.." aria-label="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button"><span class="glyphicon glyphicon-send"></span> Gönder</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
