
@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="jumbotron">
                    <h1 class="display-3">Test Platform Hakkında...</h1>
                    <img src="https://www.pem360.com/SolvePark/Uploads/Images/211d14453f7d40e7b0ba7e13412a7cce.png" style="height: 450px; margin-left: 0px"; center-block img-responsive img-rounded img-thumbnail" alt="Yazılım Testi" />
                </div>
                <hr class="my-4">
            <p class="lead">
                Web sitelerinin, mobil veya masaüstü uygulamalarının hatalarının tespitini isteyen müşteriler, test edilmesini istedikleri sistemin, tamamlanması gereken sürenin ve yapılması istenen test konusunun kısa bir özetinin bulunduğu iş ilanını yayınlarlar.             </p>
            <p class="lead">
                Sistemde Test Master, Tester (Sınayan) ve Client (Müşteri), Admin (Yönetici) olmak üzere 4 türlü rol bulunmaktadır. Sitedeki Test Master kişiler müşteriden aldıkları test işlerinin büyüklüğüne göre belirli sayıda Tester’ı test işine alır. Tester kullanıcılarının çaylak, tecrübeli, uzman gibi rütbeleri bulunmaktadır ve zamanla tamamladıkları test işlerinin büyüklüğüne göre rütbeleri artmaktadır.             </p>
            <p class="lead">
                Kayıt olduktan sonra kendilerine PC, Mobil Cihaz veya IoT araçları tanımlayabilirler. Test Master’lar başvurdukları test iş ilanına kabul edildikten sonra, verilen testin süresi dâhilinde işleme başlarlar. Atanan Test Master’lar atandıkları işe Test Case’ler oluşturup belirli sayıdaki Tester’ları görevlendirirler.             </p>
            <p class="lead">
                Tester’lar istenen adımları yerine getirirler ve karşılaştıkları sonuçları ya da ekran görüntüsü vb. alınması isteniyorsa bunları belirtirler. Tester’lar (Sınayan), testi başarıyla tamamladıktan sonra Test Master’ın onayından geçer ve Test Master bu işi Müşteri (Customer)’ye raporlar. Müşteri de işi onayladıktan sonra ilgili ücreti Test Master ve Tester’ların banka hesabına yatırırlar.            </p>
        </div>
    </div>
</div>
    </div>
    @section footer{
        @Html.Partial("_PartialFooter")
    }


